.Home {
  background-image: url("https://i.pinimg.com/originals/8f/bf/4e/8fbf4ea9f72e0a48fbc6819e4548eff9.jpg");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}